<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    {% block content %}
    <h1>base原來的內容</h1>
    {% endblock %}
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
</body>
</html>